__pycache__/
*.pyc
*.pyo
build/
dist/
myenv/
*.spec
!SendEmailGUI3.spec
!SendEmailGUI3-win-x64.spec
!SendEmailGUI3-win-arm64.spec
addressbook/
attachments/
configs/
*.xlsx
*.xls
!settings.json
*.json
